.inputField {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  height: 48px;
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #eee;
  background: #f9f9f9;
  font-size: 14px;
  outline: none;
}
.wrapper {
  position: relative;
}

.calendarArea {
  position: absolute;
  z-index: 999;
  top: 50px;
  left: 0;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #3470ff;
  width: 276px;
}

/* Клас самого DayPicker */
.calendar {
  width: 100%;
  font-size: 14px;
  font-family: var(--font-inter);
}
.rdp-day_button[aria-label*="Today"] {
  background-color: #3470ff;
  color: white;
}
.calendar button {
  width: 28px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  border-radius: 50%;
  padding: 0;
  margin: 1px;
}
span.rdp-caption_label {
  font-size: 16px;
}
.rdp-weekdays {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #8d929a;
  border-bottom: 1px solid #3470ff;
}
.calendarToggle {
  position: absolute;
  right: 12px;
  top: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
