.hero {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.textBlock {
  position: absolute;
  top: 440px;
  left: 328px;
  color: white;
  width: 783px;
  font-family: var(--font-manrope);
}
.mainTitle {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}
.secondaryTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  margin-bottom: 40px;
}
.button {
  border-radius: 12px;
  padding: 12px;
  width: 276px;
  height: 44px;
  background-color: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 auto;
  display: block;
  text-align: center;
}
