.form {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 84px;
  margin-bottom: 56px;
  width: 924px;
  height: 68px;
}
.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #8d929a;
}
.field {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.milesFieldWrapper {
  display: flex;
  outline: none;
  box-shadow: none;
}
.LeftMilesField {
  border-left: none;
  border-right: 1px solid #8d929a;
  border-top: none;
  border-bottom: none;
  border-radius: 12px 0 0 12px;
  width: 160px;
  height: 44px;
  background-color: #f7f7f7;
  padding-left: 24px;
}
.RightMilesField {
  border: none;
  border-radius: 0 12px 12px 0;
  width: 160px;
  height: 44px;
  background-color: #f7f7f7;
  padding-left: 24px;
}
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  border: none;
  background-color: #3470ff;
  color: white;
}
.button:hover {
  background-color: #0b44cd;
}

.inputWrapper {
  position: relative;
  width: fit-content;
}

.prefix {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #8d929a;
  font-size: 14px;
  pointer-events: none;
  padding-left: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: black;
}

.LeftMilesField.withPrefix {
  padding-left: 74px;
}
.RightMilesField.withPrefix {
  padding-left: 54px;
}
.LeftMilesField,
.RightMilesField {
  background-color: #f7f7f7;
  outline: none;
  box-shadow: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: black;
}
.LeftMilesField:focus,
.RightMilesField:focus {
  background-color: #f7f7f7;
}

.LeftMilesField:valid,
.RightMilesField:valid,
.LeftMilesField:invalid,
.RightMilesField:invalid {
  background-color: #f7f7f7;
}
