.section {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
.subtitle {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  margin-right: 16px;
  margin-bottom: 8px;
}
.id {
  color: #8d929a;
}
.location {
  margin-right: 16px;
  margin-bottom: 16px;
}
.mileage {
  padding-left: 16px;
}
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-bottom: 32px;
}
.description {
  margin-bottom: 88px;
}
