.container {
  width: 1440px;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 84px;
  gap: 72px;
}
.image {
  border-radius: 19px;
  margin-bottom: 40px;
}
.dataWrapper {
  flex-grow: 1;
}
